{
    "events_config": {
      "no_log_channels": [
        1234,
        5678
      ],
      "no_log_users": [
        1234,
        5678
      ],
      "base64_regexes": [
        "YmFzZTY0",
        "d2hlcmUgcmF3IHN0cmluZw===="
      ],
    },
    "vcstatus": {
      "action": true,
      "post_channel": 1234,
      "blacklist_detection": true,
      "announce_channel": 1234,
      "base64_regexes": [
        "YmFzZTY0",
        "d2hlcmUgcmF3IHN0cmluZw===="
      ],
      "guilds": [
        123456,
        7890
      ]
    }
  }
